<%- include("template/cabecera", {tituloWeb: 'Nuevo Entrenador' }) %>
    <div class="container">
        <h1>Registrar nuevo Entrenador</h1>
        
        <form action="/entrenador" class="my-2" method="POST">
            <input type="text" placeholder="Nombre Entrenador" class="form-control my-2" name="nombre">
            <input type="text" placeholder="Biografía del Entrenador" class="form-control my-2" name="bio">
            <input type="text" placeholder="Ciudad del de Entrenador" class="form-control my-2" name="ciudad">
            <input type="text" placeholder="Lista de pokemons" class="form-control my-2" name="lista_pokemons">
            <button type="submit" class="btn btn-dark btn-block">
                Agregar
            </button>
            <a href="/entrenador" class="btn btn-success my-2">
                Volver
            </a>
        </form>
    </div>
<%- include("template/footer") %>